@charset "UTF-8";

footer{
	width:100%;
	height:181px; /*footer의 높이*/
	position:relative;
	transform : translateY(30%);
	bottom: 0px;
	background-color: #c0c0c0;
}

#footer-cont{
	max-width: 1250px;
    margin: 0 auto;
    background-color: #c0c0c0;
}
/*푸터 머리 시작*/
#footer-head{
	position: relative;
    padding: 12px 0px;
}

#footer-head::after{
	content: "";
    display: block;
    clear: both;
}

.head-title{
	float:left;
	line-height: 50px;
	font-size: 22px;
}

.sns-link{
	display: flex;
	float: right;
}

.sns-link>li{
	margin-right:20px;
}
.sns-link>li>a{
	display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}
/* 사이트 로고 시작*/
.sns-link>li>a::before{
	display: inline-block;
    width: 50px;
    height: 50px;
    background-size: 100%;
    content: '';
}

.sns1::before{
	background-image: url(/resources/image/home/facebooklogo.png);
}

.sns2::before{
	background-image: url(/resources/image/home/instagramlogo.png);
}

.sns3::before{
	background-image: url(/resources/image/home/twitterlogo.png);
}

.sns4::before{
	background-image: url(/resources/image/home/youtubelogo.png);
}

/* 사이트 로고 끝 */
/*푸터 머리 끝*/

/* 푸터 메인 시작*/
#footer-main{
	position: relative;
    padding-top: 16px;
}

/*푸터 유틸 시작*/

#footer-util>ul{
	padding: 7px 0px;
}

#footer-util>ul>li{
	display: inline-block;
}

@media screen and (min-width:768px){
#footer-util>ul>li:not(:last-child)::after{
	display: inline-block;
    width: 1px;
    height: 10px;
    margin: 0 6px;
    background-color: #494949;
    vertical-align: -1px;
    content: '';
}
}

#footer-util>ul>li>a{
	cursor: pointer;
}

#footer-util>ul>li>a:hover {
	text-decoration:underline;
}
/*푸터 유틸 끝*/

/*푸터 사업자 대표정보*/
#footer-content>p>span{
	display: inline-block;
}

/*푸터 내용-전화and팩스 시작*/
#footer-coll{
	padding: 7px 0px;
}
#footer-coll>li{
	display: inline-block;
}

@media screen and (min-width:768px){
#footer-coll>li:not(:last-child)::after{
	display: inline-block;
    width: 1px;
    height: 10px;
    margin: 0 6px;
    background-color: #494949;
    vertical-align: -1px;
    content: '';
}
}
/*푸터 내용-전화and팩스 끝*/

/* 푸터 메인 끝*/
