@charset "UTF-8";

#main-section{
	margin-top: 20px;
}

img{
	width: 200px;
	height: 200px;
}
#category-box{
	width:100%;
	margin: auto;
	overflow: hidden;
}

@media screen and (max-width:768px){
	#category-box{
		width:600px;
		margin: auto;
	}
}

#category-max-div{
	font-size: 24px;
	font-weight: 500;
	display: inline-block;
}

#searchForm{
	text-align: center;
}

#category-box-sub{
	text-align: center;
}

#category-max-num{
	color: #F8CE47;
}

.category-sell-box{
	width:250px;
	display: inline-block;
	padding-top:5px;
	border: 1px solid;
	margin: 20px;
}

.category-sell-box>a>div{
	text-align: center;
}

/*페이징 css 시작*/
.page_table{ /*페이지 감싼 테이블*/
	border: none;
	margin: auto;
}

.page_table>td{ /* a태그 색부여를 위한 td 감추기*/
	border: 0px;
	padding: 0 3px 0 3px;
}

.page_table>td>a{ /* a태그 꾸미는 파트 */
	text-decoration: none;
	font-size:30px;
	color:black;
}

.page_table>.on>a{ /* 선택된 a태그 색부여 */
	color:#f8e6e0;
}
/*페이징 css 끝*/

#category_button{ /*상품등록 버튼*/
	padding:10px 15px 10px 15px;
	background-color: #FFFFFF;
	float:right;
	display: block;	
	border: #f8e6e0 2px solid;
	border-radius:5px;
}

#category_button:hover{
	background-color:#f8e6e0;
}