@charset "UTF-8";

#main-section{
	margin-top: 20px;
}

img{
	width: 200px;
	height: 200px;
}
#category-box{
	width:100%;
	margin: auto;
	overflow: hidden;
}

@media screen and (max-width:768px){
	#category-box{
		width:600px;
		margin: auto;
	}
}

#category-max-div{
	font-size: 24px;
	font-weight: 500;
}

#category-max-num{
	color: #F8CE47;
}

.category-sell-box{
	width:250px;
	display: inline-block;
	border: 1px solid;
	margin: 20px;
}

.category-sell-box>a>div{
	text-align: center;
}

#category_button{ /*상품등록 버튼*/
	padding:10px 15px 10px 15px;
	background-color: #FFFFFF;
	float:right;
	display: block;	
	border: #f8e6e0 2px solid;
	border-radius:5px;
}

#category_button:hover{
	background-color:#f8e6e0;
}