<?xml version="1.0" encoding="UTF-8"?>
	
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="my.Sana.Mapper.PostMapper">
	<insert id="write">
		<selectKey keyProperty="bno" order="BEFORE" resultType="int">
			select ifnull(max(bno)+1,1)bno
			from goodslist
		</selectKey>
		
	  insert into goodslist(bno,title,content,id,price,bgno,name)
      values(#{bno},#{title},#{content},#{id},#{price},#{bgno},#{name})
	</insert>
	
	<!-- goods-category 리스트 -->
	<select id="list" resultType="my.Sana.Model.PostVO" parameterType="map">
		select * from(
        select *, @rownum:=@rownum+1 num from(
        select
        @row_no:=IF(@prev_val =b.bgno,@row_no+1,1)AS 
        rownum,@prev_val := b.bgno as bgno,title,content,regdate,cnt,id,name,bno,price
		from goodslist b,
        (select @rownum :=0)z,
        (select @row_no := 0)x,
        (select @prev_val :='')y
        where BGNO=#{bgno}
			<if test="keyword !=null">
				<choose>
					<when test="type == 'T'.toString()">
						and title like concat('%',#{keyword},'%')
					</when>
					<when test="type == 'C'.toString()">
						and content like concat('%',#{keyword},'%')
					</when>
					<otherwise>
						OR title like concat('%',null,'%')
						OR content like concat('%',null,'%')
					</otherwise>
				</choose>
			</if>
			    order by rownum desc
			    )as goods)as goods
			<![CDATA[
				where num> (#{pageNum}-1)*#{amount} and num<=#{pageNum}*#{amount}
			]]>
	</select>

			
	   <select id="total" resultType="int">
   		select count(*) from goodslist
   		where BGNO=#{bgno}
   		<if test="keyword !=null">
			 <choose>
				    <when test="type == 'T'.toString()">
				      and title like concat('%',#{keyword},'%')
				    </when>
				    <when test="type == 'C'.toString()">
				      and content like concat('%',#{keyword},'%')
				    </when>
				    <otherwise>
				      or title like concat('%',null,'%')
				      OR content like concat('%',null,'%')
				    </otherwise>				    	
			 </choose>
		</if>
	   </select>
	   
	   	   <select id="detail" resultType="my.Sana.Model.PostVO">
		      select*from goodslist where bno=#{bno}
		   </select>
		   
		   <update id="cntup">
		   		update goodslist
		   		set cnt=cnt+1
		   		where bno = ${bno}
		   </update>
		   
		   	<delete id="remove">
				delete from goodslist
				where bno=#{bno}
			</delete>
</mapper>