<?xml version="1.0" encoding="UTF-8"?>
	
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="my.Sana.Mapper.PostMapper">
	<insert id="write">
		<selectKey keyProperty="product_number" order="BEFORE" resultType="int">
			select ifnull(max(product_number)+1,1)product_number
			from goodslist
		</selectKey>
		
	  insert into goodslist(product_number,product_name,product_desc,product_price,category_number,product_stock,product_discount)
      values(#{product_number},#{product_name},#{product_desc},#{product_price},#{category_number},#{product_stock},#{product_discount})
	</insert>
	
	<!-- goods-category 리스트 -->
	<select id="list" resultType="my.Sana.Model.PostVO" parameterType="map">
		select * from(
        select *, @rownum:=@rownum+1 num from(
        select
        @row_no:=IF(@prev_val =gl.category_number,@row_no+1,1)AS 
        rownum,@prev_val := gl.category_number as category_number,gl.product_number,product_name,product_stock,product_price,product_desc
        ,product_cnt,product_date,product_discount,Concat(replace(uploadpath,'\\','/'),'/',uuid,'_',fileName)as filem 
		from  goodslist gl join goodsfile gf on gl.product_number = gf.product_number,
        (select @rownum :=0)z,
        (select @row_no := 0)x,
        (select @prev_val :='')y
        where category_number=#{category_number}
			<if test="keyword !=null">
				<choose>
					<when test="type == 'T'.toString()">
						and product_name like concat('%',#{keyword},'%')
					</when>
					<when test="type == 'C'.toString()">
						and product_desc like concat('%',#{keyword},'%')
					</when>
					<otherwise>
						and product_name like concat('%',#{keyword},'%')
						OR product_desc like concat('%',#{keyword},'%')
					</otherwise>
				</choose>
			</if>
				 order by rownum desc
			    )as goods)as goods
			<![CDATA[
				where num> (#{pageNum}-1)*#{amount} and num<=#{pageNum}*#{amount}
			]]>
	</select>

			
	   <select id="total" resultType="int">
   		select count(*) from goodslist
   		where category_number=#{category_number}
   		<if test="keyword !=null">
			 <choose>
				    <when test="type == 'T'.toString()">
				      and product_name like concat('%',#{keyword},'%')
				    </when>
				    <when test="type == 'C'.toString()">
				      and product_desc like concat('%',#{keyword},'%')
				    </when>
				    <otherwise>
				      and product_name like concat('%',#{keyword},'%')
				      OR product_desc like concat('%',#{keyword},'%')
				    </otherwise>				    	
			 </choose>
		</if>
	   </select>
	   
	   	   <select id="detail" resultType="my.Sana.Model.PostVO">
		      select*from goodslist where product_number=#{product_number}
		   </select>
		   
		   <update id="cntup">
		   		update goodslist
		   		set product_cnt=product_cnt+1
		   		where product_number = ${product_number}
		   </update>
		   
		   <update id="modify">
		   update goodslist
			   set product_name=#{product_name},
				   product_desc=#{product_desc},
				   product_price=#{product_price},
				   product_stock=#{product_stock},
				   product_discount=#{product_discount}
		   where product_number=#{product_number}
		   </update>
		   
		   
		   	<delete id="remove">
				delete from goodslist
				where product_number=#{product_number}
			</delete>
</mapper>